country — наименование страны;
date — дата наблюдения;
total_vaccinations — общее число введённых вакцин в стране на указанный день;
people_vaccinated — общее число привитых первым компонентом в стране на указанный день;
people_vaccinated_per_hundred — процент привитых первым компонентом в стране на указанный день (рассчитывается как );
people_fully_vaccinated — общее число привитых вторым компонентом в стране на указанный день (первый компонент уже был введён им ранее);
people_fully_vaccinated_per_hundred — процент привитых вторым компонентом в стране на указанный день (рассчитывается как );
daily_vaccination — ежедневная вакцинация (число вакцинированных в указанный день);
vaccines — комбинации вакцин, используемые в стране.

 date — дата наблюдения;
 province/state — наименование провинции/штата;
 country — наименование страны;
 confirmed — общее число зафиксированных случаев на указанный день;
 deaths — общее число зафиксированных смертей на указанный день;
 recovered — общее число выздоровлений на указанный день.

In [ ]:
import pandas as pd
df = pd.read_csv('C:\VS CODE\GIT\sf\Pandas\covid_data.csv', sep=',')
vaccinations_data = pd.read_csv('C:\VS CODE\GIT\sf\Pandas\country_vaccinations.csv')
vaccinations_data = vaccinations_data[
    ['country', 'date', 'total_vaccinations', 
     'people_vaccinated', 'people_vaccinated_per_hundred',
     'people_fully_vaccinated', 'people_fully_vaccinated_per_hundred',
     'daily_vaccinations', 'vaccines']
]
df = df.groupby(
    ['date', 'country'], 
    as_index=False
)[['confirmed', 'deaths', 'recovered']].sum()
df['active'] = df['confirmed'] - df['deaths'] - df['recovered']
df = df.sort_values(by=['country', 'date'])
df['daily_confirmed'] = df.groupby('country')['confirmed'].diff()
df['daily_deaths'] = df.groupby('country')['deaths'].diff()
df['daily_recovered'] = df.groupby('country')['recovered'].diff()
df['date'] = pd.to_datetime(df['date'])
vaccinations_data['date'] = pd.to_datetime(vaccinations_data['date'])
mask = df['date'].max()
mask2 = df['date'].min()
vac_mask = vaccinations_data[(vaccinations_data['date']<mask) & (vaccinations_data['date']>mask2)]
covid_df = pd.merge(
    df,
    vac_mask,
    on=['country','date'],
    how='left'
)
# covid_df['death_rate']=
display(covid_df)

<>:2: SyntaxWarning: invalid escape sequence '\V'
<>:3: SyntaxWarning: invalid escape sequence '\V'
<>:2: SyntaxWarning: invalid escape sequence '\V'
<>:3: SyntaxWarning: invalid escape sequence '\V'
C:\Users\arinathebest\AppData\Local\Temp\ipykernel_2000\4059904673.py:2: SyntaxWarning: invalid escape sequence '\V'
  df = pd.read_csv('C:\VS CODE\GIT\sf\Pandas\covid_data.csv', sep=',')
C:\Users\arinathebest\AppData\Local\Temp\ipykernel_2000\4059904673.py:3: SyntaxWarning: invalid escape sequence '\V'
  vaccinations_data = pd.read_csv('C:\VS CODE\GIT\sf\Pandas\country_vaccinations.csv')

,date,country,confirmed,deaths,recovered,active,daily_confirmed,daily_deaths,daily_recovered,total_vaccinations,people_vaccinated,people_vaccinated_per_hundred,people_fully_vaccinated,people_fully_vaccinated_per_hundred,daily_vaccinations,vaccines
0,2021-01-01,Afghanistan,51526.0,2191.0,41727.0,7608.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-01-02,Afghanistan,51526.0,2191.0,41727.0,7608.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-01-03,Afghanistan,51526.0,2191.0,41727.0,7608.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-01-04,Afghanistan,53011.0,2237.0,42530.0,8244.0,1485.0,46.0,803.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-01-05,Afghanistan,53105.0,2244.0,42666.0,8195.0,94.0,7.0,136.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86780,2020-03-12,occupied Palestinian territory,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86781,2020-03-14,occupied Palestinian territory,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86782,2020-03-15,occupied Palestinian territory,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86783,2020-03-16,occupied Palestinian territory,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86784,2020-03-17,occupied Palestinian territory,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN